<div class="table-responsive">
<h3 style="text-align: center;">August</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Mon</th>
  <th>Wed</th>
  <th>Fri</th>
</tr>
<tr>

  <td><p class="date">24</p></td>
  <td><p class="date">26</p></td>
  <td><p class="date">28</p></td>
</tr>
<tr>
  <td><b>1.2 Methods of Enumeration</b><br><br><a href="{{ site.baseurl }}/assets/docs/1.2 Methods of Enumeration.pdf" target="\_blank">[1.2] pdf</a><br>Old examples<br><a href="{{ site.baseurl }}/assets/docs/Stat_400_Hw_1(2).pdf" target="\_blank">Homework #1 Due</a><br><a href="{{ site.baseurl }}/assets/docs/Stat_400_Hw_1_Solutions(1).pdf" target="\_blank">[Homework 1 Solutions]</a><br>Midterm 1 (7:00pm) - <b>All Sections [BL1, CL1, DL1]</b></td>
  <td></td>
  <td></td>
</tr>
</table>

<h3 style="text-align: center;">September</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Mon</th>
  <th>Wed</th>
  <th>Fri</th>
</tr>
<tr>

  <td><p class="date">31</p></td>
  <td><p class="date">02</p></td>
  <td><p class="date">04</p></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>

  <td><p class="date">07</p></td>
  <td><p class="date">09</p></td>
  <td><p class="date">11</p></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>

  <td><p class="date">14</p></td>
  <td><p class="date">16</p></td>
  <td><p class="date">18</p></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>

  <td><p class="date">21</p></td>
  <td><p class="date">23</p></td>
  <td><p class="date">25</p></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>

  <td><p class="date">28</p></td>
  <td><p class="date">30</p></td>
  <td><p class="date">02</p></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>

</div>
